<footer class="bg-white p-2 text-muted">
  <div class="container">
    <!--Language-->
    <div class="d-flex flex-wrap">
      <p class="p mx-2 fs-7 mb-0">English</p>
      <p class="p mx-2 fs-7 mb-0">French</p>
      <p class="p mx-2 fs-7 mb-0">.....</p>
    </div>
    <hr />

    <!--actions-->
    <div class="d-flex flex-wrap">
      <p class="p mx-2 fs-7 mb-0">Sign up</p>
      <p class="p mx-2 fs-7 mb-0">Login</p>
      <p class="p mx-2 fs-7 mb-0">.....</p>
    </div>

    <!--copy-->
    <div class="mt-4 mx-2">
      <p class="fs-7">MySocial &copy: 2023</p>
    </div>
  </div>
</footer>
