{% extends 'base.html' %} {% block content %} 
{% include "partials/_messages.html" %}


<div class="feeds my-4">
  <div class="feed bg-white rounded m-2 p-2">
    <div class="head d-flex justify-content-between">
      <div class="user d-flex gap-2">
        <div class="profile-photo">
          <img
            src="{{post.user.userprofile.profile_img.url}}"
            class="rounded-circle"
            style="width: 50px; height: 50px; object-fit: cover"
            alt="" />
        </div>
        <div class="ingo">
          <h3 class="fs-7">{{post.user}}</h3>
          <small>{{post.created_at}}</small>
        </div>
      </div>
      {% if request.user != post.user %} {% else %}
      <div class="dropdown">
        <span
          class="edit"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="fa-solid fa-ellipsis"></i>
        </span>
        <ul class="dropdown-menu rounded">
          <li>
            <a class="dropdown-item" href="#">
              <i class="fa-solid fa-pen-to-square text-info"></i> Edit
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              href="{% url 'posts:delete_post' post.id %}">
              <i class="fa-solid fa-trash text-danger"></i> Delete
            </a>
          </li>
        </ul>
      </div>
      {% endif %}
    </div>
    <div class="photo rounded overflow-hidden my-1 mx-0">
      <img
        src="{{post.image.url}}"
        style="height: 700px; width: 1200px; object-fit: cover"
        alt="" />
    </div>
    <!-- icon -->
    <div
      class="action-button d-flex justify-content-between align-items-center fs-4 m-2">
      <div class="interaction-button">
        <button type="button" class="border border-none bg-white" id="like-button" value="{{post.id}}">
          <i class="fa-regular fa-heart text-danger"></i>
        </button>
        <span id="like_count">{{post.like_count}}</span>
        <span>
          <i class="fa-brands fa-rocketchat"></i>
          {% if len_comment >= 2 %}
            {{len_comment}} comments
          {% else %}
            {{len_comment}} comment
          {% endif %}
        </span>
      </div>
      <div class="bookmark">
        <span><i class="fa-regular fa-bookmark"></i></span>
      </div>
    </div>
    <!-- person who like the post -->
   
    <div class="caption">
      <p><b>@{{post.user}}</b> <span class="fs-5">{{post.caption}}</span></p>
    </div>

    <!-- Comment Section-->
    <div>
      {% for comment in comments %}
      <div class="d-flex flex-start mt-4">
        <a class="me-3" href="#">
          <img
            class="rounded-circle shadow-1-strong"
            src="{{comment.user.userprofile.profile_img.url}}"
            alt="avatar"
            width="65"
            height="65" />
        </a>
        <div class="flex-grow-1 flex-shrink-1">
          <div>
            <div class="d-flex justify-content-between align-items-center">
              <p class="mb-1">
                <b>{{comment.user.username}} </b
                ><span class="small">{{comment.created_at}}</span>
              </p>
            </div>
            <p class="small mb-0">{{comment.body}}</p>
          </div>
        </div>
        {% if request.user != comment.user %} {% else %}
        <div class="d-flex justify-content-end">
          <i
            class="fa fa-ellipsis-h"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"></i>

          <ul
            class="dropdown-menu border-0 shadow"
            aria-labelledby="postOption">
            <li class="d-flex align-items-center">
              <a
                href="#"
                data-bs-toggle="modal"
                data-bs-target="#editModal{{comment.id}}"
                class="dropdown-item d-flex align-items-center justify-content-around fs-7">
                Edit Comment
              </a>
            </li>
            <li class="d-flex align-items-center">
              <a
                href="{% url 'posts:delete_comment' comment.id %}"
                class="dropdown-item d-flex align-items-center justify-content-around fs-7">
                Delete Comment
              </a>
            </li>
          </ul>
        </div>
        {% endif %}
        <!--Edit Modal-->
        <form action="{% url 'posts:edit_comment' comment.id %}" method="POST">
          {% csrf_token %}
          <div
            class="modal fade"
            id="editModal{{comment.id}}"
            tabindex="-1"
            aria-labelledby="editModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title" id="editModalLabel">Edit Comment</h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  {{form.body}}
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Update</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      {% endfor %}
    </div>

    <!-- ajouter un commentaire-->
    <form class="d-flex mt-5" method="POST">
      {% csrf_token %}
      <!--avatar-->
      <div>
        <img
          src="{{user_profile.profile_img.url}}"
          alt="avatar"
          class="rounded-circle me-2"
          style="width: 38px; height: 38px; object-fit: cover" />
      </div>
      {{form.body}}
    </form>
  </div>
</div>

<script>
  $(document).on('click','#like-button', function(e){
    e.preventDefault();
    $.ajax({
      type:'POST',
      url:'{% url 'posts:like' %}',
      data:{
        postid: $('#like-button').val(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        action: 'post'
      },
      success: function(json){
        document.getElementById("like_count").innerHTML = json['result']
      }
    });

  })
</script>
{% endblock content %}
