{% extends 'chat/base_chat.html' %} {% block content %}
<div class="container my-2 mb-3 mx-auto bg-white rounded p-0">
  <div class="row g-0">
    <div class="col-md-4 border-end">
      <!--profile image-->
      <div class="settings-tray mx-2 my-2">
        <img
          class="profile-image rounded-circle"
          src="{{user.userprofile.profile_img.url}}"
          style="width: 50px; height: 50px; object-fit: cover"
          alt="Profile img" />
        <span class="float-end mt-3">
          <i class="material-icons">cached</i>
          <i class="material-icons">message</i>
          <i class="material-icons">menu</i>
        </span>
      </div>
      <!--search box-->
      <div class="search-box mx-2 my-2">
        <div
          class="search-bar d-flex input-group bg-gray rounded-pill mb-3"
          id="searchbar">
          <span class="input-group-text border-0 rounded-pill bg-gray">
            <i class="fa-solid fa-magnifying-glass"></i>
          </span>
          <input
            type="text"
            name=""
            id=""
            class="form-control border-0 me-2 text-muted bg-gray rounded-pill"
            placeholder="Search messages"
            id="message-search" />
        </div>
      </div>
      <!--friend-->
      {% for message in messages %}
      <div
        class="friend-drawer friend-drawer--onhover bg-white rounded m-2 p-2">
        <a
          href="{% url 'chat:single_chat' message.user.username %}"
          class="text-decoration-none text-dark">
          <div class="d-flex align-baseline">
            <img
              class="profile-image rounded-circle"
              src="{{message.user.userprofile.profile_img.url}}"
              style="width: 50px; height: 50px; object-fit: cover"
              alt="" />

            <div class="text ms-2" style="width: 70%">
              <h6 class="mb-0 mt-1">{{message.user.username}}</h6>
              <p class="text-muted m-0">{{message.last}}</p>
            </div>
            <span class="time text-muted small">13:21</span>
          </div>
        </a>
      </div>
      <hr class="my-2 mx-auto" style="width: 70%" />
      {% endfor %}
    </div>
    <!--conversation-->
    <div class="col-md-8 d-flex flex-column">
      <div class="settings-tray mx-2 my-2">
        <div
          class="friend-drawer g-0 friend-drawer--grey d-flex align-baseline align-items-center rounded">
          <img
            class="profile-image rounded-circle"
            {%comment%}
            src="https://source.unsplash.com/collection/10"
            {% endcomment%}
            src="{{this_user.userprofile.profile_img.url}}"
            style="width: 50px; height: 50px; object-fit: cover"
            alt="" />
          <div class="text ms-2">
            <h6 class="mb-0 mt-1">{{this_user.username}}</h6>
            <p class="m-0">Layin' down the law since like before Christ...</p>
          </div>
        </div>
      </div>
      <!--chat panel-->
      <div class="chat-panel">
        {% for chat in chats %} 
          {% if chat.sender == request.user and chat.receiver == this_user %}
          <div class="send row g-0">
            <div class="col-md-3 offset-md-9">
              <div class="chat-bubble right-bubble">{{chat.body}}</div>
              <span class="time ms-4 text-muted small">{{chat.date}}</span>
            </div>
          </div>
          {% elif chat.sender == this_user and chat.receiver == request.user%}
          <div class="receive row g-0">
            <div class="col-md-3">
              <div class="chat-bubble left-bubble">{{chat.body}}</div>
              <span class="time ms-4 text-muted small">{{chat.date}}</span>
            </div>
          </div>
          <div class="msg_receive row g-0">

          </div>
          {% endif %} 
        {% endfor %}
      </div>
      <!--input message-->
      <div class="row mt-5">
        <div class="col-12">
          <div class="chat-box-tray mx-2 mt-5">
            <div class="rounded-pill mb-3">
              <form
                action=""
                method="POST"
                id="chat-form"
                class="input-group rounded-pill bg-gray form-control">
                {% csrf_token %}
                <!-- the message body -->
                <input
                  type="text"
                  id="message"
                  name="body"
                  class="form-control border-0 bg-gray rounded-pill"
                  placeholder="write your message" 
                  required/>
                
                <button
                  class="ms-1 border-0 btn btn-outline-primary rounded-pill"
                  type="submit"
                  id="button-addon2">
                  <i class="fa-solid fa-paper-plane"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).on('submit', '#chat-form', function(e){
    e.preventDefault();
    let _message = $("#message").val();
    $.ajax({
      type:'POST',
      url:'{% url 'chat:send_message' this_user.id %}',
      data:{
        body:_message,
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(data){
        console.log(data)
        let _html =
          '<div class="row g-0">\
              <div class="col-md-3 offset-md-9">\
                <div class="chat-bubble right-bubble">'+ _message +'</div>\
              </div>\
            </div>\
        '
        $(".chat-panel").append(_html)
      },
      error: function(error){
        console.log(error)
      }
    });
    document.getElementById("message").value=""
  });

  
  setInterval(receivedMessages,5000);
  let counter = {{nbr_msg}}
  const msg = document.querySelector('.left-bubble')
  console.log("counterinit:"+counter)
  function receivedMessages(){
    $.ajax({
      type:'GET',
      url:'{% url 'chat:received_message' this_user.id %}',
      success: function(data){        
        if (data.lenght == 0){}

        else{

          let last_msg = data[data.length-1]
          console.log("counter:"+counter)
          console.log("data:" + data.length)
          if (counter == data.length)
            {console.log("no new chat")}
          else{
            let chat_panel = document.querySelector(".chat-panel")

            let div1 = document.createElement("div")
            div1.classList.add("row","g-0")

            let div2 = document.createElement('div')
            div2.classList.add("col-md-3")

            let chatMessage = document.createElement("div")
            chatMessage.classList.add("chat-bubble","left-bubble")
            chatMessage.innerText = last_msg

            div1.appendChild(div2)
            div2.appendChild(chatMessage)

            chat_panel.appendChild(div1)
            document.getElementById("message").value=""
          }
        }
        counter = data.length
      },
      error: function(error){
        console.log(error)
      }
    });
  }

</script>
{% endblock content %}
